    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: "Open Sans", sans-serif
    }

.avatar {
	content:url("./images/ProfilePic.jpg");
}

.mini-image {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

.half-text { 
    width: 50%;
    margin-top: 3px !important;
    font-size: 1.2em;
    padding-right: 14px !important;
    padding-left: 10px !important;
}