    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: "Open Sans", sans-serif
    }

.avatar {
	content:url("./images/ProfilePic.jpg");
}

.mini-image {
    width: 75%;
    margin-left: 50px;
}

.half-text { 
    margin-top: 3px !important;

}